<div class="col-md-4">
<!-- 貸借管理 -->
<%= render 'application/total_loan', otherside: @schedule.otherside, othersides:nil, details: @details %>

<!-- スケジュールフォーム -->
<%= render 'application/schedule_form', event: @event, schedule: @schedule %>
</div>

<div class="col-md-8">
<!-- 予定詳細 -->
<%= render 'application/schedule_detail', schedule: @schedule %>

<!-- 仕訳詳細 -->
<%= render 'application/journal_list', journals: @schedule.journals,sub_or_others: false %>
</div>