<div class="col-md-4">

<h3>カレンダー</h3>
<!-- 仕訳登録フォーム -->
<%= render 'application/schedule_form', event: @event, schedule: @schedule %>


</div>
<div class="col-md-8">

<%= render 'application/schedule_list', schedules: @schedules%>
</div>