<h2>Schedules#show  特定の予定</h2>
<div class="col-md-4">
  <!-- 貸借管理 -->
  <%= render 'application/total_loan'%>

  <!-- 仕訳登録フォーム -->
  <%= render 'application/journal_form'%>
</div>

<div class="col-md-8">
  <%= render 'application/schedule_list'%>
</div>