<h1>あとから消すピクトグラムおきば</h1>
<style type="text/css">
  dd {
    margin-top: 8px;
  }
  i,span {
    margin-right: 10px;
  }
  h1{
    margin:0;
  }
  h3 {
    font-weight: normal;
  }
  .bottom {
    height:300px;
  }
</style>
<dl>
  <dt>汎用</dt>
  <dd>
    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>編集
    <code>glyphicon glyphicon-edit</code>
  </dd>
  <dd>
    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>ゴミ箱
    <code>glyphicon glyphicon-trash</code>
  </dd>
  <dd>
    <i class="glyphicon glyphicon-globe"></i>リンク
    <code>glyphicon glyphicon-globe</code>
  </dd>
  <dd>
    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>ログイン
    <code>glyphicon glyphicon-log-in</code>
  </dd>
  <dd>
    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>会員登録
    <code>glyphicon glyphicon-check</code>
  </dd>
</dl>

<dl>
  <dt>切り替わり系</dt>
  <dd>
    <strike>
    <i class="far fa-address-card"></i>サブ
    <code>far fa-address-card</code>
  </strike>
  </dd>
  <dd>
    <i class="glyphicon glyphicon-user font-gray1" aria-hidden="true"></i>サブ
    <code>glyphicon glyphicon-user font-gray1</code>
  </dd>
  <dd>
  <s>
    <i class="fas fa-address-card"></i>メイン
    <code>fas fa-address-card</code>
  </s>
  </dd>
  <dd>
    <i class="glyphicon glyphicon-user"></i>メイン
    <code>glyphicon glyphicon-user</code>
  </dd>


  <dd>
    <i class="fas fa-check-square font-yellow1 mg-r-8 fa-lg"></i>確定清算済
    <code>fas fa-check-square font-yellow1 mg-r-8 fa-lg</code>
  </dd>
  <dd>
    <i class="fas fa-square font-yellow1 mg-r-8 fa-lg"></i>確定未清算
    <code>fas fa-square font-yellow1 mg-r-8 fa-lg</code>
  </dd>
  <dd>
    <i class="fas fa-check-square font-gray1 mg-r-8 fa-lg"></i>未定清算済
    <code>fas fa-check-square font-gray1 mg-r-8 fa-lg</code>
  </dd>
  <dd>
    <i class="fas fa-square font-gray1 mg-r-8 fa-lg"></i>未定未清算
    <code>fas fa-square font-gray1 mg-r-8 fa-lg</code>
  </dd>
</dl>

<dl>
  <dt>ヘッダー</dt>
  <dd>
    <i class="fab fa-pagelines"></i>全仕訳
    <code>fab fa-pagelines</code>
  </dd>
  <dd>
    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>検索
    <code>glyphicon glyphicon-search</code>
  </dd>
  <dd>
    <i class="fas fa-cog"></i>設定
    <code>fas fa-cog</code>
  </dd>
  <dd>
    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>ログアウト
    <code>glyphicon glyphicon-log-out</code>
  </dd>
</dl>

<dl>
  <dt>タイトル周り</dt>
  <dd>
    <h1><i class="glyphicon glyphicon-user"></i>Otherside</h1>
    <code>glyphicon glyphicon-user</code>
  </dd>
  <dd>
    <h1><i class="far fa-calendar"></i>Schedule</h1>
    <code>far fa-calendar</code>
  </dd>
  <dd>
    <h1><i class="fas fa-flag"></i>Event</h1>
    <code>fas fa-flag</code>
  </dd>
  <dd>
    <h3><i class="fas fa-pen-square"></i>登録</h3>
    <code>fas fa-pen-square</code>
  </dd>
</dl>

<dl>
  <dt>
    メイン画面周り
  </dt>
  <dd>
    <i class="far fa-calendar"></i>関連予定
    <code>far fa-calendar</code>
  </dd>
    <dd>
    <s>
    <i class="far fa-calendar-alt"></i>関連予定
    <code>far fa-calendar-alt</code>
    </s>
  </dd>
  <dd>
    <i class="glyphicon glyphicon-user" aria-hidden="true"></i> 関係者
    <code>glyphicon glyphicon-user"</code>
  </dd>
  <dd>
    <i class="far fa-file-alt"></i>ファイル
    <code>far fa-file-alt</code>
  </dd>
  <dd>
    <i class="fas fa-map-marker-alt"></i> 場所
    <code>fas fa-map-marker-alt</code>
  </dd>
  <dd>
    <i class="fas fa-check"></i> 処理済
    <code>fas fa-check</code>
  </dd>
</dl>

<dl>
  <dt>
    設定画面
  </dt>
  <dd>
    <i class="fab fa-pagelines"></i>会員情報編集
    <code>fab fa-pagelines</code>
  </dd>
  <dd><s>
    <i class="glyphicon glyphicon-list-alt"></i>登録イベント一覧/取引先情報一覧
    <code>glyphicon glyphicon-list-alt</code>
  </s></dd>
  <dd>
    <i class="fas fa-flag"></i>登録イベント一覧
    <code>fas fa-flag</code>
  </dd>
  <dd>
    <i class="glyphicon glyphicon-user"></i>取引先情報一覧
    <code>glyphicon glyphicon-user</code>
  </dd>
</dl>

  <dt>search.html</dt>
  <dd>
     <i class="far fa-calendar"></i>期間
     <code>far fa-calendar</code>
  </dd>
  <dd>
    <s>
          <i class="fas fa-user"></i>関係者
    <code>fas fa-user</code>
    </s>
  </dd>
  <dd>
    <i class="glyphicon glyphicon-user"></i>関係者
    <code>glyphicon glyphicon-user</code>
  </dd>
  <dd>
    <i class="fas fa-map-marker-alt"></i>場所
    <code>fas fa-map-marker-alt</code>
  </dd>
  <dd>
    <i class="fas fa-ticket-alt"></i>
    演目
    <code>fas fa-ticket-alt</code>
  </dd>
  <dd>
    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
    演者
    <code>glyphicon glyphicon-heart-empty</code>
  </dd>
  <dd>
    <span class="fas fa-check"></span>
    清算状況
    <code>fas fa-check</code>
  </dd>
  <dd>
    <span class="fas fa-square"></span>
    確定未定
    <code>fas fa-square</code>
  </dd>
</dl>


<hr>
<div class="radio02">
  <input type="radio" name="radio02" class="radio02-input" id="radio02-01">
  <label for="radio02-01">ラジオ01</label>
  <input type="radio" name="radio02" class="radio02-input" id="radio02-02">
  <label for="radio02-02">ラジオ02</label>
  <input type="radio" name="radio02" class="radio02-input" id="radio02-03">
  <label for="radio02-03">ラジオ03</label>
</div>

<div class="bottom">
</div>
<!-- ========================================================================================== -->
<style type="text/css">
  .radio02-input{
  display: none;
}

/*隣接セレクタ(E + F)とは要素と要素が直接隣接している場合（直後の要素）に適用されるセレクタです。要素と要素の間に別の要素が有る場合はダメ。*/
.radio02-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.radio02-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}
.radio02-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}

</style>
