<h1>Home#search</h1>
<p>Find me in app/views/home/search.html.erb</p>

<h3>検索フォーム</h3>
<div>
検索
<ul>
  <li>開始期間</li>
  <li>終了期間</li>
  <li>演目</li>
  <li>場所</li>
  <li>相手先</li>
  <li>確定済み</li>
  <li>支払い済み</li>
</ul>

</div>

<%= render 'application/schedule_list', schedules: @schedules%>

<%#= render 'application/journal_list'%>
