
$yellow: #e1d333;
$gray0: #F3F3F3;
$gray1: #A9A9A9;
$gray2: #767676;
$link: #23527c;
//$hover_link:#5f8eb9;
$hover_link:#767676;

/* =========================bootstrap打ち消し用========================= */
.no-border td {
  border-top : none;
}

.breadcrumb {
  background-color: transparent;
}

a {
  color:$link;

  &:hover {
  text-decoration:none;
  color:$hover_link;
  transition: .5s;
  }
}

.table > tbody > tr.no-border > td {
    border-top: none;
}

.memo {
    font-size: 13px;
    color: #777;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
}

.ui-helper-hidden-accessible {
  display: none;
}

.active_btn:hover {
    cursor: pointer;
}

.container {
  padding-bottom: 50px;
}

/* =========================related_all======================= */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

h1 {
    width: 100%;
    border: 1px solid #979797;
    padding: 10px 30px;
    font-size: 28px;
    font-weight: 200;
    margin: 0 0 30px;
    letter-spacing: 10px;
}

.non-active {
  display: none;
}

.pict {
    padding-right: 10px;
    font-size: 16px;
}
.pict_b {
    padding-right: 26px;
}

.label_journal{
  background-color:$gray1;
  display: block;
  width: 40px;
  white-space: normal;
  line-height:1.3em;
}

.label_memo{
  background-color:$hover_link;
  margin-top: 10px;
  display: inline-block;
}

#oc_btn{
  display:none;
  cursor:pointer;
}

/* =========================layout======================= */

header {
  background-color: $gray0;
  height: 60px;
  line-height: 60px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;

  .header-left {
    font-family: 'Krona One', sans-serif;
    position: absolute;
    top: 4px;

    a.title_logo {
      color: #fff;
      font-size:70px;

       &:hover{
        color: #ddd;
        text-decoration: none;
        transition: 0.8s;
       }
    }
  }

  .header-right {
    float: right;

    li{
        display: inline-block;
        float:left;
        padding: 0 5px 0 0;
        a{
          height: 60px;
          display: inline-block;
          padding: 0 15px;
          float: right;
          &:hover{
           background-color:#ddd;
           color:#fff;
           border-radius: 4px;
           transition: 0.5s;
           cursor: pointer;
          }
        }
      }
      .dropdown-menu>li{
        padding:0;
        a{
        height:32px;
        line-height:32px;
        width: 170px;
        }
      }
  }
}


i,span {
  margin: 5px 5px 5px 0;
}


.web_description {
    top: 70px;
    letter-spacing: 1em;
    position: absolute;
    font-size: 12px;
    color: #9d9d9d;
    font-weight: 200;
    text-align: center;
    width: inherit;
}

.header_user_icon {
    border-radius: 50%;
    position: relative;
}

img {
    vertical-align: top;
}
/* ===============infomation======================== */

@mixin basic_btn($color){
  color: #fff;
  width: 300px;
  margin-top:15px;
  display: inline-block;
  line-height: 34px;
  background-color: $color;
  border: none;
  &:hover,&:focus{
    opacity: 0.5;
    transition: 0.5s;
    color:#fff;
  }
}

.yellow_btn{
  @include basic_btn($yellow);
}
.gray_btn{
  @include basic_btn($gray0);
  color:$gray2;
}

.top {
    padding-top: 60px;
    position: relative;
    z-index: 1;
    text-align:center;
    p {
    margin: 0 0 30px;
    letter-spacing: 5px;
    }
    .btn_field {
    padding: 50px 30px;

    a:nth-of-type(1){margin-right:20px;}
    }
}

.home_bg{
    z-index: 0;
    width: 100%;
    height: 500px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-size:cover;
    background-position:top;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(209,209,209, .3)),image-url("home_bg.jpg");
}

.schedule_pabe{
  .img-field {
      height: auto;
      text-align: center;
      img { padding: 10px; }
  }
  .rightpos{
      float:right;
      font-size:85%;
  }
  .leftpos{
      float: left;
      font-size:85%;
  }
  .note {
      padding: 8px 0;
      text-decoration: underline;
      letter-spacing: 0.7em;
      color: $gray1;
    }
}

.soat_fields {
    font-size: 11px;
    padding-bottom: 10px;
    text-align: left;
    a{ text-decoration: underline; }
}


.loan_field {
    background-color: $main-gray-color;
    border-radius: 10px;
    padding: 10px 20px;

    table {
      width: 90%;
      margin: 0 auto;

      tr {
        line-height: 2em;

        td:nth-of-type(1){
          width:20px;
        }
      }
    }
}

.journals{
  $xxs:10px;
  $xs:24px;
  $sm:40px;
  $md:70px;

  i,span {
    margin: 0 auto;
  }
  .table{
  th {text-align: center;}

//  .edit_jn{ width: $xxs;}

//  .date{ width: $xs;}

//  .trade,.price,.credit_mn,.debit_mn,.balance_mn,.price{ width: $sm;}

  .credit_sb,.debit_sb,.credit_mn,.balance_mn,.debit_mn,.program{
    font-size:0.8em;
  }

  }
  padding-bottom:50px;
}

/* ===============form======================== */

@mixin basic_form($width) {
  padding: 6px 12px;
  margin: 4px;
  font-size: 13px;
  height:36px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: $width;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

@mixin basic_label{
  width: 80px;
  font-weight: normal;
  margin-top:5px;
  margin-bottom:5px;
  margin-right:10px;
}

@mixin basic_checkbox($color,$color1){
  content:"";
  position:absolute;
  display:block;
  top:0;
  right:0;
  width:16px;
  height:16px;
  border: 1px solid $color;
  background-color: $color1;
  border-radius: 4px;
}

/* devise関連 */
.new_form {
    width: 600px;
    margin: 0 auto;
    .center_field { text-align: center;}
  }

.devise_form {
  .center_field { text-align: center;}
  .btn { width:500px;}
}


/*Scheduledetail*/
table.table_list {
  width: 100%;
  td.schedule_title>a{
    font-weight: bold;
    font-size: 15px;
  }
  td.notes_font {
    font-size: 12px;
    color: #ccc;
  }
}

/*検索画面*/
.search_form_field{
  label {
    @include basic_label
  }
  input[type="date"] {
    @include basic_form(230px);
  }
  select {
    @include basic_form(230px);
  }
  .radio_field{
    text-align:center;
  }
  .actions{
    text-align:center;
  }
}

/*登録フォーム用*/
.form_h3{ display: inline-block;}

.form_field{
  display: block;
  padding-bottom: 90px;

  label {
    @include basic_label;
  }

  .check_field label {
    width: 110px;
  }

  .memo_label{
    vertical-align: top;
  }

  input[type="date"],input[type="datetime-local"],input[type="time"],input[type="text"],select {
    @include basic_form(230px);
  }
  textarea{
    @include basic_form(230px);
    height: 100px;
  }
  input#event_image {
    position: relative;
    top: -20px;
    left: 120px;
    font-size: 13px;
    background-color: #fff;
  }

  .check_field {
    div{
      display:inline-block;
    }
  }

  input[type="checkbox"]{
    display:none;
  }
  .check_label,.fix_label,.remove_label{
    position:relative;
    display: inline-block;
    width: 100px;
  }

  .remove_label{
    width: 150px;
  }
  input#fix+span::after{
    @include basic_checkbox(#ccc,#ccc);
  }
  input#fix:checked+span::after{
    @include basic_checkbox($yellow,$yellow);
  }
  input#check+span::after,input#event_remove_image+span::after{
    @include basic_checkbox(#ccc,#fff);
  }
  input#check:checked+span::after,input#event_remove_image:checked+span::after{
    @include basic_checkbox(#ccc,#fff);
    content:"\f00c";
    font-family: FontAwesome;
  }

  span.count {
    padding-left: 10px;
    color: #ddd;
  }
}

.event_form_field{
  input[type="date"],input[type="text"],select,textarea{
    width:400px;
  }
}

.schedule_list{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width:100%;

  .check_fix_icon{ position:relative; }

  .date,.time,.location,.seat_type {
    display: inline-block;
  }

  .edit {
    display: inline-block;    font-size: 0.8em;
    padding-left:10px;
  }

  .program,.performer,.location,.seat_type,.otherside,.memo_sc{
    padding-left:30px;
  }

  .program{
    font-weight:bold;
    font-size: 1.2em;
    line-height:1.6em;
  }

  .memo_sc {
    font-size:90%;
  }
}

.schedule_detail{
  padding-left: 0;
  padding-right: 0;

  .check_fix_icon {
    font-size:20px;
  }

  .program{
    display:inline-block;
    padding-left:0;
    font-size: 20px;
  }

  .performer,.location,.seat_type,.otherside,.memo_sc{
    padding-left:36px;
  }
}

/* ===============event======================== */

div.event_img {
    background: lightgray;
    width: 250px;
    height: 320px;
    color: #fff;
    text-align: center;
    line-height: 320px;
    font-family: 'arial black';
    border: 1px solid #999;
    border-radius: 4px;
    }

.event_detail{
  .event_sub{
    margin-top:10px;
    margin-bottom:5px;
    }
}

/* =====================setting===================== */
.setting_menu > li {
  padding: 5px;
}

/* =====================otherside#show===================== */
.otherside_memo {
    word-wrap: break-word;
    color: $gray2;
    font-size:13px;
}

