/*========================= override bootstrap ===============================*/
.table > tbody > tr.no-border > td {
    border-top: none;
}

.memo {
    font-size: 13px;
    color: #777;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
}

/*=========================== list_table  schedule#list===========================*/
table.list_table {
    width: 100%;
    margin-bottom: 15px;

    .schedule_title {
      font-weight:bold;
      font-size: 20px;
    }
    .list_title {
      font-size: 18px;
      font-weight: bold;
    }

    td {
      padding: 1px;
    }
}

/*=========================== loan_field ===========================*/
.loan_field {
    background-color: $main-gray-color;
    border-radius: 10px;
    padding: 10px 20px;

    table {
      width: 90%;
      margin: 0 auto;

      tr {
        line-height: 2em;

        td:nth-of-type(1){
          width:20px;
        }
      }

    }

}