/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

  * CSSメモ
  * メインカラー
  * #F3F3F3 : 薄いグレー
  * #F8E71C : イエロー
  * #A9A9A9 : 濃い目のグレー
  * #767676 : もっと濃い目のグレー
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

h1 {
    width: 100%;
    border: 1px solid #979797;
    padding: 10px 30px;
    font-size: 28px;
    font-weight: 200;
    margin: 0 0 30px;
}
/* =========================layout======================= */

header {
  background-color: #F3F3F3;
  height: 50px;
  line-height: 50px;
  margin-bottom: 50px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right li {
    display: inline-block;
    padding: 0 20px;
}

/* ============================loan====================== */
.loan_field {
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 10px 20px;
}

.loan_field table {
    width: 80%;
    margin: 0 auto;
}

.loan_field tr {
    line-height: 2em;
}

/* ===============schedule_form,journal_form======================== */

.submit_form label {
    width: 80px;
    vertical-align: top;
    height: 2em;
    font-weight: normal;
}

.submit_form input,.submit_form textarea,.submit_form select {
    width: 180px;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    border: 1px solid #A9A9A9;
    border-radius: 2px;
}

input.btn {
    background-color: #F8E71C;
    height: 40px;
    width: 100px;
    text-align: center;
    border: none;
}

.submit_form_btn {
    text-align: center;
}

.submit_form_sub {
    padding-left: 15px;
}

.submit_form_sub input,.submit_form textarea {
   width: 165px;
}