// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_table {
  margin-left: 20px;
  width:100%;
  margin: 0 auto;
  margin-bottom:20px;
}

.list_table td {
    height: 1.5em;
}

.schedule_title {
    font-size: 20px;
    font-weight: 600;
}