<h2>予定詳細</h2>
<div class="col-md-4">
<!-- 貸借管理 -->
<%= render 'application/total_loan', otherside: @otherside%>

<!-- 仕訳登録フォーム -->
<%= render 'application/journal_form', journal:@journal %>

</div>
<!-- 履歴明細 -->
<div class="col-md-8">
<!-- 仕訳詳細 -->
<h1><%= @otherside.otherside_name %></h1>
<%= render 'application/journal_list', journals: @journals%>
</div>