<h2>予定詳細</h2>
<div class="col-md-4">
<!-- 貸借管理 -->
<%= render 'application/total_loan'%>

<!-- 仕訳登録フォーム -->
<%= render 'application/journal_form'%>

</div>
<div class="col-md-8">
<!-- 履歴明細 -->
<%= render 'application/journal_list'%>
</div>>