<h3>取引一覧</h3>
<div>
  取引履歴
    <ul>
      <li>取引日時</li>
      <li>取引内容</li>
      <li>金額</li>
      <li>関連イベント</li>
      <li>イベント日時</li>
    </ul>
    詳細
    <ul>
      <li>借方</li>
      <li>貸方</li>
      <li>債権債務：借方発生</li>
      <li>債権債務：残高</li>
      <li>債権債務：貸方発生</li>
    </ul>
</div>