<span class="label label-info">設定メニュー</span>
<div>
  <ul>
    <li><%= link_to 'ユーザー情報変更', edit_user_registration_path %></li>
    <li><%= link_to 'イベント情報変更', events_path %></li>
    <li><%= link_to '取引先情報変更', othersides_path %></li>
    <li><%= link_to '仕訳辞書一覧', trade_account_dicts_path %></li>
  </ul>
</div>