<div class="loan_field">
  <h4>貸借管理</h4>
  <table>
    <tbody>
      <tr>
        <td><%= link_to 'Aさん', otherside_path(1) %></td>
        <td>まるまる円</td>
      </tr>
      <tr>
        <td><%= link_to 'Aさん', otherside_path(1) %></td>
        <td>まるまる円</td>
      </tr>
      <tr>
        <td><%= link_to 'Aさん', otherside_path(1) %></td>
        <td>まるまる円</td>
      </tr>
    </tbody>
  </table>
</div>