  <div class="loan_field">
    <h4>関係者</h4>
    <table>
      <tbody>
        <tr>
          <% if otherside.nil? %>
            NO ONE LOAN IT !!
            <% else %>
            <td><span class="glyphicon glyphicon-resize-vertical"></span></td>
            <td><%= link_to "#{otherside.otherside_name}", otherside_path(otherside) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <table>
      <tbody>
        <!-- otherside_list 相手先に関連のある立替者のリストアップメソッド -->
        <% otherside_list(otherside).each do |num|%>
        <% otherside = Otherside.find(num)%>
        <tr>
            <td><span class="glyphicon glyphicon-resize-horizontal"></span></td>
            <td><%= link_to otherside.otherside_name, otherside_path(otherside) %></td>
            <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>